@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
.menuList a {
  font-size: 20px;
  color: black;
}

.menuList a .fa {
  color: black;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: white;
}

.menuList a:hover .fa {
  color: black;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
          box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
}

.menuList a.active .fa {
  color: black;
  -webkit-box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
          box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
}

section.header a.active {
  border: 2px solid black;
}

.header-text {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content h1 {
  font-size: 80px;
  color: black;
  line-height: 100px;
}

.content p {
  padding-top: 30px;
  font-size: 20px;
  color: black;
}

.action-btn {
  padding: 10px 20px;
  color: black;
  text-transform: capitalize;
  background-color: transparent;
  text-align: center;
  line-height: 20px;
  border: 1px solid black;
  outline: none;
}

.action-btn:hover, .action-btn:focus, .action-btn:active {
  text-decoration: none;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  outline: none;
  background-color: black;
  color: white;
}

.navigate {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  padding: 5px 0px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigate:hover {
  color: black;
}

@media screen and (max-width: 320px) {
  .menuList a {
    font-size: 20px;
  }
  .menuList a .fa {
    color: black;
    height: 40px;
    width: 40px;
  }
  .menuList a:hover .fa {
    color: black;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
            box-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
  }
  .content h1 {
    padding-top: 30px;
    font-size: 30px !important;
    line-height: 40px;
  }
  .content p {
    padding-top: 10px;
  }
  .text {
    margin-bottom: 150px !important;
  }
}

@media screen and (max-width: 600px) {
  .menuItems {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menuList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .menuList li {
    margin-right: 3px;
  }
  .content {
    display: block;
    height: auto;
  }
  .content h1 {
    padding-top: 50px;
    font-size: 40px;
    line-height: 60px;
  }
  .content p {
    padding-top: 10px;
  }
  .text {
    height: 70vh;
    padding-left: 15px;
  }
}

@media screen and (min-width: 601px) {
  .menuList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menuList li {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=header.css.map */