@import 'variables';


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
// Menu Icon
.menuIcon {
    display: flex;
    flex-direction: column;

    .long-bar,.short-bar{
        border: 2px solid $dark;
        margin-bottom: 5px;
    }
    .long-bar{
        width: 33px;
    }
    .short-bar{
        width: 20px;
    }

    &:hover{
        .long-bar{
            width: 20px;
            transition: width 300ms ease-in-out 0s;
            
        }
        .short-bar{
            width: 33px;
            
        }
    }
}