@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap');

$font: 'IBM Plex Sans', sans-serif;
$fontLight: 300;
$fontHeavy: 700;
$fontLarge: 70px;
$fontSmall: 45px;
$fontText: 20px;
$fontTextSm: 16px;
$dark: black;
$light: white;
$box-shadow: 0 5px 15px rgba(0,0,0,0.08);
$btn-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);