@import 'variables';

.form-box {
    position: relative;
    .box{
        height: 100vh;
        background-color: $dark;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}