@import 'variables';

.floating-icons {
    position: relative;

    .menuItems {
        // display: flex;
        // flex-direction: row !important;
        position: fixed;
        bottom: 50px;
        right: 10px;
        z-index: 10;
    }
}