@import 'variables';

.floating-icons {
    position: relative;

    .menuItems {
        // display: flex;
        // flex-direction: row !important;
        position: fixed;
        top: 100vh;
        bottom: 2%;
        right: 0;
        z-index: 10;
    }
}