@import 'variables';

.footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    margin-bottom: 0;
   p{
    font-size: 16px;
    color: white;
    font-weight: bold;
   } 
}

@media screen and (min-width:601px){
    .footer{
        p {
            padding-left: 6%;
        }
    }
}