@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
@import 'variables';
.contact-form {
    margin-top: 30px;
}
.form-title {
    font-family: $font;
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
}
.contact-details {
    a{
        color: #333;

        &:hover {
            color: #000;
        }
    }
    border-bottom: 1px solid grey;
    width: 50%;
    padding-bottom: 10px;
}
.contact-form .input-block {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #fff;
    width: 100%;
    height: 40px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.contact-form .input-block.focus {
    background-color: #fff;
    border: solid 1px #fff;
}

.contact-form .input-block.textarea {
    height: auto;
}

.contact-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
}

.contact-form .input-block label {
    padding: 0 10px;
    background: #fff;
    position: absolute;
    left: 8px;
    top: 20px;
    display: block;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    color: #000;
    font-size: 18px;
    line-height: 10px;
}

.contact-form .input-block .form-control {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 18px;
    height: 40px;
    padding: 0;
    position: relative;
    top: -20px;
    z-index: 2;
}

.contact-form .input-block .form-control:focus label {
    top: 0;
}
.cta-btn {
    position: fixed;
    right: 2%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid white;
    box-shadow: $btn-shadow;
    color: #333;
    z-index: 1;
    height: 60px;
    width: 60px;
    border-radius: 50%;

    &:active, &:focus, &:hover {
        outline: none !important;
    }

}
.contact-form .square-button {
    color: #000;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    border-radius: 2px;
    transition: all 0.3s ease;
    padding: 0 60px;
    height: 60px;
    border: 2px solid #fff;
    width: 100%;
    background-color: transparent;

    &:hover, &:focus {
        background-color: #fff;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .contact-wrap {
        width: 60%;
        margin: auto;
    }
}
/*----page styles---*/
.contact-wrap {
    padding: 15px;
}

