@import 'variables';

.menuList {
    a {
        font-size: $fontText;
        color: $dark;

        .fa {
            background-color: $light;
            color: $dark;
            margin-right: 0px;
            margin-bottom: 5px;
            height: 60px;
            width: 60px;
        }

        &:hover {
            .fa {
                background-color: $dark;
                color: $light;
                transform: scale(1.2);
            }
        }
    }

    a.active {
        .fa {
            background-color: $dark;
            color: $light;
        }
    }
}
@media screen and (max-width:600px){
    .menuList {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        li {
            margin-left: 10px;
        }
    }
}
@media screen and (min-width:601px){
    .menuList {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        li {
            margin-left: 0;
            margin-bottom: 10px;
        }
    }
}