@import 'variables';


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
// Menu Icon
.menuIcon {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 2%;
    right: 2%;
    border: 1px solid black;
    box-shadow: $box-shadow;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    z-index: 10;
    padding: 5px;
    background-color: white;

    .long-bar,.short-bar{
        border: 2px solid $dark;
        margin-bottom: 5px;
    }
    .long-bar{
        width: 33px;
    }
    .short-bar{
        width: 20px;
    }

    &:hover{
        .long-bar{
            width: 20px;
            transition: width 300ms ease-in-out 0s;
            
        }
        .short-bar{
            width: 33px;
            
        }
    }
}