@import 'variables';


.navbar {
    width: 100%;
    display: flex;
    height: 120px;
    justify-content: space-between;
    background-color: palevioletred;
    .logo {
        display: flex;
        align-items: center;
    }
}
// Menu Icon
.floatingIcon {
    position: fixed;
    bottom: 20%;
    right: 2%;
    border-radius: 50%;
    z-index: 10;
    padding: 7px;
    background-color: rgba(white, 0.5);
    color: black;
    box-shadow: $btn-shadow;
}
.theme-text-color {
    color: lightgrey !important;
}
.menuIcon {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 50px;
    width: 50px;
    justify-content: center;
   

    .long-bar,.short-bar{
        border: 2px solid $dark;
        margin-bottom: 5px;
    }
    .long-bar{
        width: 30px;
    }
    .short-bar{
        width: 18px;
    }

    &:hover{
        .long-bar{
            width: 18px;
            transition: width 300ms ease-in-out 0s;
            
        }
        .short-bar{
            width: 30px;
            
        }
    }
}

#download {
    position: fixed;
    bottom: 10%;
    margin-top: 10px;
    right: 2%;
    z-index: 10;
}

@media screen and (max-width:600px){
    #download{
        display: none;
    }
    .menuIcon{
        bottom: 10% !important;
    }
}