@import 'variables';

section.portfolio{
    background-color: #F8F8FF;
    // box-shadow: $box-shadow;
}
.logos {

    a{
        margin-top: 15px;
    }
    img {
        width: 120px;
       
    }
}
.portfolio-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

a.item {
    color: $dark;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &.active {
        box-shadow: $btn-shadow;
    }
}

@media screen and (max-width:600px){
    section.portfolio {
        
        .logos {
            .col-sm-12 {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
        }
    }
}