@import 'variables';

.portfolio-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .section-title {
        text-align: right;
        padding-right: 30px;
    }
    .portfolio-list {
        li {
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            &:hover {
                a.item {
                    box-shadow: $btn-shadow;
                }
            }
        }
    }
}


a.item {
    color: $dark;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &.active {
        box-shadow: $btn-shadow;
    }
}