@import 'variables';

.services {
    position: relative;
    height: 100vh;
}

.dot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $btn-shadow;
    margin-left: 20px;
}