@import 'variables';

.services {
    position: relative;
    min-height: 100vh;
}
.service-title {
    font-size: 20px;
}
.dot {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21d5fd21 0%, #b921ff18 100%);
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
	animation: morphing 5s infinite;
	overflow: hidden;
		
    &:hover {
        box-shadow: $btn-shadow;
        animation-play-state: paused;

    }
}

@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    }
    25% { 
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
    }
    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;		
    }
}

@media screen and (max-width:600px){
    .text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}
@media screen and (min-width:601px){
    .text-center, .section-title-box {
        display: flex;
        
        justify-content: center;
        align-items: center;
        height: 100vh;
    } 
}