@import 'variables';

.services {
    position: relative;
    min-height: 100vh;
}
.service-title {
    font-size: 30px;
}
.dot {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $btn-shadow;
    margin-left: 20px;
}

@media screen and (max-width:600px){
    .text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}
@media screen and (min-width:601px){
    .text-center, .section-title-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    } 
}