@import 'variables';

section.what-we-do{
  background-color: transparent;
  position: relative;
  min-height: 100vh;
  width:100vw;
  overflow: hidden;

  .container {
    z-index: 1;
  }
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken(whitesmoke, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  
  &:nth-child(2n) {
    border-color: lighten(whitesmoke, 10%);
  }
  
  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  
  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  
  &:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  
  &:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  
  
}

@keyframes cube {
  from {
  transform: scale(0) rotate(0deg) translate(-50%, -50%);   
  opacity: 1;
  }
  to {
  transform: scale(20) rotate(960deg) translate(-50%, -50%); 
  opacity: 0;
  }
}
}

.services {
    position: relative;
    min-height: 100vh;
}
.service-title {
    font-size: 20px;
}
.dot {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: 1px solid rgba(black, 0.2);
    
    &:hover {
        box-shadow: $btn-shadow;
       

    }
}

@media screen and (max-width:600px){
    .text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .dot {
      margin-left: 0px !important;
      margin-bottom: 20px;
    }
    section.what-we-do{
      margin: 30px 0px;
    }
}
@media screen and (min-width:601px){
    .text-center, .section-title-box {
        display: flex;
        
        justify-content: center;
        align-items: center;
        height: 100vh;
    } 
}