@import 'variables';
@import 'navbar';
@import 'header';
@import 'portfolio';
@import 'services';
@import 'about';
@import 'contact';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

    a:hover {
        text-decoration: none;
    }
}

body{
    overflow-x: hidden;
}
.uk-modal-close-full, .uk-close-large {
    background-color: transparent !important;
}
section {
    min-height: 100vh;
}
.section-title {
    font-family: $font;
    text-shadow: $btn-shadow;
    line-height: 55px;
    padding: 7px 0px;
}

section.header {
    background-color: lightblue;
}
section.portfolio {
    background-color: blueviolet;
}
section.what-we-do {
    background-color: yellow;
}
section.about {
    background-color: palevioletred;
}
section.contact {
    background-color: grey;
}

.col-md-3{
    background-color: #F8F8FF;
}
 .col-md-6.right {
    background-color: #F8F8FF;
}
.col-md-4 {
    background-color: #F8F8FF;
}
 .col-md-8 {
    background-color: steelblue;
}
.col-md-9 {
    background-color: tan;
}

@media screen and (max-width:600px){
    section {
        min-height: 100vh;
    }
}

