@import 'variables';
@import 'navbar';
@import 'header';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

    a:hover {
        text-decoration: none;
    }
}

section {
    height: 100vh;
}