@import 'variables';
@import 'navbar';
@import 'header';
@import 'portfolio';
@import 'services';
@import 'about';
@import 'contact';
@import 'background';
@import 'modal';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: $font;

    a:hover {
        text-decoration: none;
    }
}

body{
    overflow-x: hidden;
    background-color: whitesmoke;
}
.uk-modal-close-full, .uk-close-large {
    background-color: transparent !important;
}
section {
    min-height: 100vh;
}
.section-title {
    font-family: $font;
    text-shadow: $btn-shadow;
    font-size: 70px;
    color: black;
    font-weight: 700;
    padding: 7px 0px;
}

p {
    color: black;
    line-height: 22px;
    font-size: 30px;
    font-family: $font;
    font-weight: 500;
}
.col-md-3,.col-md-6.right,.col-md-4,.col-md-8,.col-md-9 {
    background-color: transparent;
}

@media screen and (max-width:600px){
    section {
        min-height: 100vh;
    }
}

