@import 'variables';
@import 'navbar';
@import 'header';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

    a:hover {
        text-decoration: none;
    }
}

section {
    height: 100vh;
}
section.header {
    background-color: lightblue;
}
section.portfolio {
    background-color: blueviolet;
}
section.what-we-do {
    background-color: yellow;
}
section.about {
    background-color: palevioletred;
}
section.contact {
    background-color: grey;
}

.col-3, .col-4, .col{
    width: 100%;
    height: 100%;
    background-color: salmon;
}
.content {
    width: 100vw;
    height: 100vh;
}
.col-9, .col-8 {
    width: 100%;
    height: 100%;
    background-color: steelblue;
}

@media screen and (max-width:600px){
    .row {
        display: flex;
        flex-direction: column;

        .col, .col-3, .col-4, .col-9, .col-8 {
            flex: 100%;
        }
    }
}